$primary-Color:#333333;
$accent-color:#444444;
$text-color:#ffffff;
body::before{
    display: block;
    content: '';
    height: 60px;
}
@media(min-width : 768px){
    .news-input{
        width:50%;
    }
}

.card-size{
    height: 300px;
}
#logo-pic{
    width: 80%;
    height:300px;
    border: 1px;
    border-radius: 30px;
}
.Contact-icon{
    height: 100px;
    width: 100px;
}